<div>
  <h2 id="page-heading" data-cy="VisitorHeading">
    <span jhiTranslate="arlaVisitTest1App.visitor.home.title">Visitors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="arlaVisitTest1App.visitor.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-visitor"
        [routerLink]="['/visitor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="arlaVisitTest1App.visitor.home.createLabel">Create a new Visitor</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (visitors?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="arlaVisitTest1App.visitor.home.notFound">No Visitors found</span>
    </div>
  }

  @if (visitors && visitors.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstName">
              <div class="d-flex">
                <span jhiTranslate="arlaVisitTest1App.visitor.firstName">First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastName">
              <div class="d-flex">
                <span jhiTranslate="arlaVisitTest1App.visitor.lastName">Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="arlaVisitTest1App.visitor.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mobileNumber">
              <div class="d-flex">
                <span jhiTranslate="arlaVisitTest1App.visitor.mobileNumber">Mobile Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="company">
              <div class="d-flex">
                <span jhiTranslate="arlaVisitTest1App.visitor.company">Company</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (visitor of visitors; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/visitor', visitor.id, 'view']">{{ visitor.id }}</a>
              </td>
              <td>{{ visitor.firstName }}</td>
              <td>{{ visitor.lastName }}</td>
              <td>{{ visitor.email }}</td>
              <td>{{ visitor.mobileNumber }}</td>
              <td>{{ visitor.company }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/visitor', visitor.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/visitor', visitor.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(visitor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (visitors && visitors.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
