<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (employee) {
      <div>
        <h2 data-cy="employeeDetailsHeading"><span jhiTranslate="arlaVisitTest1App.employee.detail.title">Employee</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ employee.id }}</span>
          </dd>
          <dt><span jhiTranslate="arlaVisitTest1App.employee.firstName">First Name</span></dt>
          <dd>
            <span>{{ employee.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="arlaVisitTest1App.employee.lastName">Last Name</span></dt>
          <dd>
            <span>{{ employee.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="arlaVisitTest1App.employee.pin">Pin</span></dt>
          <dd>
            <span>{{ employee.pin }}</span>
          </dd>
          <dt><span jhiTranslate="arlaVisitTest1App.employee.email">Email</span></dt>
          <dd>
            <span>{{ employee.email }}</span>
          </dd>
          <dt><span jhiTranslate="arlaVisitTest1App.employee.mobileNumber">Mobile Number</span></dt>
          <dd>
            <span>{{ employee.mobileNumber }}</span>
          </dd>
          <dt><span jhiTranslate="arlaVisitTest1App.employee.jobTitle">Job Title</span></dt>
          <dd>
            <span>{{ employee.jobTitle }}</span>
          </dd>
          <dt><span jhiTranslate="arlaVisitTest1App.employee.office">Office</span></dt>
          <dd>
            @for (office of employee.offices; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/office', office.id, 'view']">{{ office.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
