<div>
  <h2 id="page-heading" data-cy="OfficeHeading">
    <span jhiTranslate="arlaVisitTest1App.office.home.title">Offices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="arlaVisitTest1App.office.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-office"
        [routerLink]="['/office/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="arlaVisitTest1App.office.home.createLabel">Create a new Office</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (offices?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="arlaVisitTest1App.office.home.notFound">No Offices found</span>
    </div>
  }

  @if (offices && offices.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="arlaVisitTest1App.office.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="arlaVisitTest1App.office.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phone">
              <div class="d-flex">
                <span jhiTranslate="arlaVisitTest1App.office.phone">Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="timeZone">
              <div class="d-flex">
                <span jhiTranslate="arlaVisitTest1App.office.timeZone">Time Zone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="wifiPassword">
              <div class="d-flex">
                <span jhiTranslate="arlaVisitTest1App.office.wifiPassword">Wifi Password</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="language">
              <div class="d-flex">
                <span jhiTranslate="arlaVisitTest1App.office.language">Language</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (office of offices; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/office', office.id, 'view']">{{ office.id }}</a>
              </td>
              <td>{{ office.name }}</td>
              <td>{{ office.address }}</td>
              <td>{{ office.phone }}</td>
              <td>{{ office.timeZone }}</td>
              <td>{{ office.wifiPassword }}</td>
              <td jhiTranslate="{{ 'arlaVisitTest1App.Language.' + office.language }}">{{ office.language }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/office', office.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/office', office.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(office)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
